__pycache__/
*.pyc
*.pyo
models/*.pt
models/*.onnx
models/*.engine
*.log
ui/__pycache__/
ui/api/__pycache__/
ui/core/__pycache__/
weapon_detection/
Cube-Detection/
Miniconda3-latest-Linux-x86_64.sh
detections.json
capture_*.png
